[submodule "src/iROS_drone"]
	path = src/iROS_drone
	url = https://github.com/Gfernandes10/iROS_drone.git

[submodule "src/aruco_ros"]
	path = src/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git

