<launch>
<!-- Joystick args -->
    <arg name="joy" default="/dev/input/js0" />
    <arg name="joyyaml" default="$(find bebop_control)/resources/ps4.yaml" />

<!-- Initiate Joystick -->
    <node name="joy_node" pkg="joy" type="joy_node">
      <param name="dev" value="$(arg joy)" />
    </node>
</launch>