<launch>
<!-- Gazebo World args -->
    <arg name="world_name" default="C222_simple"/>
    <arg name="paused" default="false"/> 
    <arg name="verbose" default="false"/>
    <arg name="gui" default="true" doc="Starts gazebo gui" />
<!-- Spawn Drone args -->
    <arg name="drone" default="bebop2"/>
    <arg name="enable_ground_truth" default="true" />
    <arg name="enable_logging" default="false" />

<!-- Joystick args -->
    <arg name="joy" default="/dev/input/js2" />
    <arg name="joy_yaml" default="$(find bebop_control)/resources/ps4.yaml" />

     <node name="bebop_control" pkg="bebop_control" type="bebop_control" output="screen">
        <rosparam command="load" file="$(arg joy_yaml)" />
        <!-- Add any necessary parameters here -->
    </node>
<!-- Start Localization Package -->
  <node name="bebop_localization" pkg="bebop_localization" type="bebop_localization_node"  />

</launch>